<h1>Authorized successfully</h1>

<p>Authorization issued for user ID <strong><%= current_user.airset_id %></strong></p>
<p>Session key is <strong><%= current_user.session_key %></strong></p>

<p><%= link_to 'Back to home page', root_path %></p>
